/**
 * Reset some basic elements
 */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
    margin: 0;
    padding: 0;
}


/**
 * Basic styling
 */

body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}


/**
 * Images
 */

img {
    max-width: 100%;
    vertical-align: middle;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 3px $grey-color;
}

img.avatar {
    border-radius: 6px;
    float: left;
    width: 33%;
    min-width: 100px;
    max-width: 200px;
    margin: 0.3em 1em 0.3em 0;
}


/**
 * Figures
 */

figure>img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}


/**
 * Lists
 */

ul,
ol {
    margin-left: $spacing-unit;
}

li {
    >ul,
    >ol {
        margin-bottom: 0;
    }
}


/**
 * Headings
 */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: $base-font-weight;
}


/**
 * Links
 */

a {
    color: $brand-color;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}


/**
 * Blockquotes
 */

blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;
    > :last-child {
        margin-bottom: 0;
    }
}


/**
 * Code formatting
 */

pre,
code {
    font-size: 15px;
    border-radius: 3px;
    background-color: $grey-color-light;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;
    >code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}


/**
 * Misc
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    background-color: $grey-color-light;
    margin-bottom: $spacing-unit/2;
}

p {
    line-height: 1.8;
}
