<footer class="site-footer">
<div class="wrapper">
<p>{{ site.description | smartify }}</p>
<p>Contact: <a href="mailto:{{ site.email }}">{{ site.email }}</a>, <a href="https://github.com/{{ site.github_username }}">GitHub</a>, <a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a>, <a href="https://xing.com/profile/{{ site.xing_username }}">XING</a></p>
<p>Main Topics: {% include main-topic-list.html %}</p>
<p>Tags: {% include tag-list-by-label.html %}</p>
<p>Legal Things: <a href="/imprint">Imprint</a>, <a href="/privacy-statement">Privacy Statement</a></p>
</div>
</footer>
