---
layout: default
---
{{ content }}
<ul class="post-list">
{%- for post in site.posts limit:5 %}
<li>
<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }} ({{ post.lang }})</span>
<h2><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h2>
{%- if post.subtitle %}
<span class="post-meta">{{ post.subtitle }}</span>
{%- endif %}
</li>
{%- endfor %}
</ul>
<p class="rss-subscribe">More in the <a href="{{ "/archive" | relative_url }}">archive</a>,
subscribe via <a href="{{ "/feed.xml" | relative_url }}">RSS</a></p>
