---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    {% if page.subtitle %}<p class="post-subtitle">{{ page.subtitle }}</p>{% endif %}
    <p class="post-meta">{% include post-meta.html %}</p>
  </header>
  <div class="post-content" itemprop="articleBody">

{{ content }}

  </div>
  <footer class="post-meta">{% if page.last_modified_at %}{% include translation text='last_modified' %} {% include translated-date date=page.last_modified_at %}{% endif %} / You can comment via <a href="mailto:{{ site.data.authors.ogobrecht.email }}?subject=Comment%20on%20{{ page.url | absolute_url }}">email</a> or postcard (more <a href="{{ site.baseurl }}/about#comments">about this</a>...)</footer>
{%- if site.disqus.shortname %}{% include disqus-comments.html %}{% endif %}
</article>
