---
layout: default
---
      <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
        <header class="post-header">
          <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
          {% if page.subtitle %}<p class="post-subtitle">{{ page.subtitle }}</p>{% endif %}
          <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{% include translated-date.html date=page.date %}</time> / by {{ page.author | default: site.author.name }} / {% for tag in page.tags %}<a href="/tags/{{tag}}">{{ site.data.taglabels[tag] | default: tag }}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}</p>
        </header>
        <div class="post-content" itemprop="articleBody">

<!--content-begin-->
{{ content }}
<!--content-end-->

        </div>
        <footer class="post-meta">{% if page.last_modified_at %}Last modified {% include translated-date.html date=page.last_modified_at %} / {% endif %}You can comment via <a href="mailto:{{ site.author.email }}?subject=Comment%20on%20{{ site.url }}{{ site.baseurl }}{{ page.url }}">email</a> or postcard (more <a href="/about#comments">about this</a>...)
        </footer>
      {%- if site.disqus.shortname %}{% include disqus-comments.html %}{% endif %}
      </article>
