{{- $path := strings.TrimRight "/" ( .Get 0 ) }}
<p><a href="{{ $path }}/" target="_blank">Open HTML presentation in a new window/tab</a></p>

<blockquote class="item-meta">
  <p>You need a modern browser with activated JavaScript. Navigation tips:</p>
  <ul>
    <li><code>Space</code> = Next slide</li>
    <li><code>Shift</code> + <code>Space</code> = Previous slide</li>
    <li><code>Esc</code> = Overview all slides</li>
    <li><code>?</code> = Overview all keyboard shortcuts</li>
    <li>All links are opened in a new window/tab</li>
    <!--<li><a href="{{ $path }}/slides.html">Raw HTML Version with notes</a></li>-->
    <!--<li><a href="{{ $path }}/slides.md">Raw Markdown Version</a></li>-->
  </ul>
</blockquote>
